@import "./base/vars";
@import "./base/mixins";

:root {
    --color-white: #ffffff;
    --color-black: #171718;
    --color-royal: #5C62EC;
    --color-fafa: #FAFAFA;
}

$black: var(--color-black);
$white: var(--color-white);
$royal: var(--color-royal);
$fafa: var(--color-fafa);
$dmsans: DMSans;
$poppins: Poppins;
$segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body {
    font-family: $segoe;
    color: teal;

    &.is-lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main__page {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.mxy {
    padding: 60px 0px;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
    .mxy {
        padding: 90px 0;
    }
}

@media (max-width: 768px) {
    .mxy {
        padding: 30px 0px;
    }
}

@media (max-width: 480px) {
    .mxy {
        padding: 15px 0px;
    }
}