$black: var(--color-black);
$white: var(--color-white);
$royal: var(--color-royal);
$fafa: var(--color-fafa);
$dmsans: DMSans;
$poppins: Poppins;
$segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;